.DS_Store
node_modules
/dist
/jiaoshoujia/node_modules/*
/04express/node_modules/*
/myexpress/node_modules/*
/11koa/node_modules/*
/111koa/node_modules/*
/13nest/nest-test/node_modules/*
/node_modules/*
CHANGELOG.md
.history
ipconfig.js
src/libs/gm_sdk/socket/ipconfig.ts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip